<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Weather App</title>
</head>
<body>
    <center>
        <h2>Weather App</h2>
    </center>>
    <div class="container">
        <div class="info-input">
            <form action="/" method="POST">
                <input type="text" name="city" placeholder="Enter City Name">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="info-display">
        <% if(data) {%>
          <h3><b>Weather Information</b></h3><br>
            City: <%=data.name%><br>
            Country: <%=data.sys.country%><br>
            Weather: <%=data.weather[0].main%><br>
            <ul>
                <li>Min temp: <%=data.main.temp_min%></li>
                <li>Max temp: <%=data.main.temp_max%></li>
            </ul>
            Temperature: <%=data.main.temp%><br>
        <%} else {%>
            <h3>No Results</h3>
        <% } %>
        </div>
    </div>
</body>
</html>